header {
  .logo {
    // object-position: 100% 50%;
  }
}

main {
  background: #FAE0DE;
  // height: 300px;
  padding-bottom: 10px;
  height: 84vh;
  // width: 100%;

  .p-signup {
    span {
      font-weight: 800;
      a {
        color: #FC2F07;
        text-decoration: none;
      }
    }
  }

  h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #000;
  }
}


//   p {
//     font-size: 0.9rem;
//     text-align: center;
//     margin-bottom: 0;
//   }

  // p span {
  //   color: #FC2F07;
  // }

//   hr {
//     width: 70%;
//     border: 1px dashed black;
//     margin-left: 55px;
//     margin-top: 20px;
//   }

form {
  margin: 0 auto;
  .btn-login {
    background: #FC2F07;
    color: #FAE0DE;
    font-size: 1.4rem;
  }
}

// h3 {
//   margin: 40px 0 0;
// }
// ul {
//   list-style-type: none;
//   padding: 0;
// }
// li {
//   display: inline-block;
//   margin: 0 10px;
// }