
.btn-disabled {
  background: rgb(141, 140, 140) !important;
}


header {
  height: 100px;
  .logo {
    height: 100%;
    object-fit: cover;
  }
}

main {
  background: #C83325;
  padding-bottom: 10px;
  height: 84vh;

  p {
    color: #FFFFFE;
  }

  

  .p-signup {
    span {
      font-weight: 800;
      a {
        color: #DEF7FA;
        text-decoration: none;
      }
    }
  }

  h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-top: 10px;
    color: #FFF;
  }
}

/* SECTION */
.header {
  h1 {
    font-size: 1.5rem;
    padding: 10px 0;
    color: white;
  }

  .break {
    width: 75%;
    height: 1px;
    background: url('../tiret.png');
  }
}

.shan-btn {
  background: #faf7f7;
  color: #000;
  font-size: 1.1rem;
  // width: 45%;  
  // padding: 6px;
  // box-shadow: 0 4px 4px 0 rgba(#000000, 0.25);

  &-warning {
    background: #ffc107;
    width: 45%;
  }

  &-danger {
    width: 45%;
    background: #dc3545;
    color: #fff;
  }

  &-disabled {
    background: #868585;
    color: rgb(224, 222, 222);
    box-shadow: 0 4px 4px 0 rgba(26, 25, 25, 0.25);
    border-radius: 4px;
  }
}

.text-muted {
  color: #FFFFFE !important;
}

.text-info {
  color: #DEFAEC !important;
}

.comment {
  text-decoration: none;
}

.shan-fz {
  font-size: 0.65rem;
}

.fz-9 {
  font-size: 0.985rem;
}

.shan-btn, .shan-bg {
  box-shadow: 0 4px 4px 0 rgba(#FC2F07, 0.25);
  border-radius: 5px;
}

.shan-bg {
  background-color: #faf7f7 !important;
  color: #000000;
  font-size: 0.975rem;
  padding: 10px;
}

.shan-area {
  height: 200px !important;
}

// .shan-text-dark {
//   color: #000 !important;
// }

.body{

  .card-header {
    .text-muted {
      color: #fd7e14 !important;
    }
  }

  .card-body {
    .card-subtitle {
      color: #000 !important;
      font-size: 0.8rem !important;
    }
  }

  .card-date {
    margin: 0;
    color: #000;
    font-size: 0.7rem !important;
  }

  .shan-pt::after {
    content: "...";
  }

  .card-footer {
    .post-btn {
      font-size: 0.8rem;
    }
    color: #fd7e14 !important;
  }

  p.card-text {
    color: #000 !important;

    small {
      color: #000 !important;
      font-size: 1.2rem !important;
    }
  }
}

form {
  margin: 0 auto;
  .btn-login {
    background: #faf7f7;
    color: #000000;
    font-size: 1.4rem;
  }
}

.main {
  background: #C83325;
  padding-bottom: 10px;
  height: auto;

  p {
    color: #FFFFFE;
  }
}

@media screen  and (min-width: 768px){
  html{
    font-size: 18px;
  }
  header {
    height: 300px;
    .logo {
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen  and (min-width: 1240px){
  header {
    height: 400px;
    .logo {
      height: 100%;
      object-fit: cover;
    }
  }
}